<div class="container-fluid product-wrapper">
  <div class="search-container mb-5">
    <input type="text" [(ngModel)]="searchQuery" class="search-input" placeholder="Search products..."/>
    <button (click)="filterProducts()" class="search-btn">Search</button>
    <button (click)="resetSearch()" class="reset-btn">Reset</button>
  </div>

  <div class="product-list">

    <div class="product-card" *ngFor="let product of paginatedProducts()">
      <div class="product-image">
        <img [src]="product.images[0]" alt="{{ product.name }}" />
      </div>

      <div class="product-info">
        <h4>{{ product.name }}</h4>
        <p>Category: {{ product.category }}</p>
        <p>Price: ₹{{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
      </div>

      <div class="btn-group">
        <button 
          class="icon-btn edit me-1" 
          [routerLink]="['/products/update', product._id]">
          <i class="bi bi-pencil"></i>
        </button>
        <button 
          class="icon-btn delete" 
          (click)="onDeleteProduct(product._id)">
          <i class="bi bi-trash3"></i>
        </button>
      </div>
    </div>

    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="prevPage()">⟨ Prev</button>
      <span 
        *ngFor="let page of totalPagesArray()" 
        (click)="goToPage(page)" 
        [class.active]="page === currentPage">
        {{ page }}
      </span>
      <button [disabled]="currentPage === totalPages()" (click)="nextPage()">Next ⟩</button>
    </div>
  </div>
</div>